.endframeteam {
	position: absolute;

	&--left {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 164px;
		top: 0;
		left: 0;
		clip-path: polygon(0 0, 100% 0, 87% 100%, 0% 100%);
		.endframeteam__logo {
			height: 83px;
			object-fit: contain;
			transform: translateX(-9%);
		}

		.endframeteam__name {
			position: absolute;
			font-size: 20px;
			color: white;
			display: flex;
			align-items: baseline;
			white-space: nowrap;
			left: 50%;
			transform: translateX(-59%);
			bottom: 8px;
		}
	}
	&--right {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 164px;
		top: 0;
		right: 0;
		clip-path: polygon(13% 0, 100% 0, 100% 100%, 0% 100%);

		.endframeteam__logo {
			height: 83px;
			object-fit: contain;
			transform: translateX(9%);
		}

		.endframeteam__name {
			position: absolute;
			font-size: 20px;
			color: white;
			display: flex;
			align-items: baseline;
			white-space: nowrap;
			left: 50%;
			transform: translateX(-41%);
			bottom: 8px;
		}
	}

	&__rank {
		font-size: 0.5em;
		color: white;
	}

	&__bg-container {
		position: absolute;
		top: 0;
		left: 0;
		display: inline-block;
	}

	&__bgcover {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		mix-blend-mode: multiply;
	}
}
