// Import the main scss file to have access to variables, globals, mixins
@import '../../../common/styles/main.scss';

.textfitparagraph {
	&__box {
		width: 150px;
		height: 100px;
		background-color: rgb(211, 211, 211);
		padding: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		// white-space: nowrap; // Uncomment this to make single line

		div {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
