// Import the main scss file to have access to variables, globals, mixins
@import '../../../common/styles/main.scss';

.component__basic {
	position: relative;
	width: 150px;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #e5e5e5;
	border: 1px solid black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;

	img {
		height: 75px;
	}

	&-header {
		width: 100%;
		height: 20px;
		color: #8cdadc;
		background-color: #606060;
		position: absolute;
		top: 0;
		padding: 3px;
		text-align: center;
	}
}
