.DS_Store
package-lock.json
node_modules
1-build/node_modules
1-build/**/.inline-imports.js
1-build/**/dps-assets*/**/*
!1-build/**/dps-assets*/.gitkeep

2-debug
!.gitignore
!.gitkeep
!dps.json
!2-debug/**/dps.json
!3-traffic/**/dps.json
