.matchupinline {
	display: inline;
	font-size: 60px;
	white-space: nowrap;
	background-color: #8cdadc;
	height: fit-content;

	&__vsat {
		font-size: 0.7em;
		padding: 0 5px;
	}

	&__rank {
		font-size: 0.7em;
	}
}
