// Import the main scss file to have access to variables, globals, mixins
@import '../../../common/styles/main.scss';

.networks {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;

	&__logo {
		object-fit: contain;
	}
}
