// Import the main scss file to have access to variables, globals, mixins
@import '../../../common/styles/main.scss';

.ad {
	@include ad-border;

	position: relative;
	width: $ad-width;
	height: $ad-height;
	overflow: hidden;
	background: #303030;
	cursor: pointer;

	&__inner-container {
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
	}
}

// Gradients
.grad {
	width: 100%;
	height: 100%;
}
.grad2-1 {
	@include twitch-grad2-1;
}

.grad3-1 {
	@include twitch-grad3-1;
}
.grad3-2 {
	@include twitch-grad3-2;
}
.grad3-3 {
	@include twitch-grad3-3;
}
.grad3-4 {
	@include twitch-grad3-4;
}

.twitch__purple {
	background: $twitch-color-purple;
}
