.introteamlockup {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	&__logo {
		transform-origin: left top;
		transform: scale(0.5);
	}

	&__player {
		transform-origin: left top;
		transform: scale(0.5);
	}

	&__name {
		position: relative;
		font-size: 30px;
		color: white;
		display: flex;
		align-items: baseline;
	}

	&__rank {
		position: relative;
		font-size: 0.5em;
		color: white;
	}

	&__bg-container {
		width: 100%;
		height: 100%;
	}

	&__bgcover {
		position: absolute;
		top: 0;
		left: 0;
		mix-blend-mode: multiply;
	}
}
