// Import the main scss file to have access to variables, globals, mixins
@import '../../../common/styles/main.scss';

.twitchbug {
	position: relative;

	&__color {
		&--purple {
			background: $twitch-color-purple;
		}
	}
	&__inner {
		position: absolute;
		width: 300px;
		height: 100px;
		transform-origin: center center;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		* {
			position: absolute;
		}
	}
	&__extrusion {
		fill: black;
		&--purple {
			fill: $twitch-color-purple;
		}
	}
	&__extrusion-container {
		top: 60px;
		height: 40px;
		height: 100px;
		width: 100%;
		overflow: hidden;
	}

	&__triangle {
		&-topleft {
			left: 29.2px;
			width: 0;
			height: 0;
			border-bottom: 19px solid black;
			border-right: 14px solid transparent;
		}

		&-topright {
			left: 231px;
			width: 0;
			height: 0;
			border-bottom: 19px solid black;
			border-left: 14px solid transparent;
		}
		&--purple {
			border-bottom: 19px solid $twitch-color-purple;
		}
	}

	&__bar {
		&-topleft {
			transform-origin: left top;
			left: 26.5px;
			width: 5px;
			height: 20px;
			background: black;
		}

		&-topright {
			transform-origin: right top;
			right: 52.5px;
			width: 5px;
			height: 20px;
			background: black;
		}

		&--purple {
			background: $twitch-color-purple;
		}
	}

	&__outline {
		fill: black;
		&--purple {
			fill: $twitch-color-purple;
		}
	}

	&__logofill {
		fill: white;
	}
}
