// Import the main scss file to have access to variables, globals, mixins
@import '../../../common/styles/main.scss';

.twitchlogo {
	width: $ad-width;

	* {
		position: absolute;
	}

	&__extrusion-container {
		top: 60px;
		height: 40px;
		height: 100px;
		width: 100%;
		overflow: hidden;
	}
}

.st0 {
	fill: white;
}
