// Import the main scss file to have access to variables, globals, mixins
@import '../../../common/styles/main.scss';

.twitchnamescrollbug {
	position: relative;
	width: 100%;
	left: 10px;
	display: flex;
	align-items: center;

	&__namecontainer {
		overflow: hidden;
		margin-left: 10px;

		&-text {
			font-family: 'RoobertTW-SemiBold';
			font-size: 16px;
			white-space: nowrap;
		}
	}
}
