// Import the main scss file to have access to variables, globals, mixins
@import '../../../common/styles/main.scss';

.twitchnamescrollbug {
	position: relative;
	height: 31px;
	width: 100%;

	&__bug {
		position: absolute;
		top: 0;
		left: 0;
	}
	&__textfield {
		height: 30px;
		white-space: nowrap;
		height: fit-content;
	}
	&__namecontainer {
		position: absolute;
		top: 5px;
		overflow: hidden;
		left: 72px;

		&-text {
			font-family: 'RoobertTW-SemiBold';
			font-size: 16px;
			white-space: nowrap;
		}
	}
}
