// Import the main scss file to have access to variables, globals, mixins
@import '../../../common/styles/main.scss';

.cta {
	background-color: #8cdadc;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	border-radius: 5px;
	text-align: center;
	padding: 10px 20px;
}
