// Import the main scss file to have access to variables, globals, mixins
@import '../../../common/styles/main.scss';

.cta {
	background-color: #ff0062;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	border-radius: 5px;
	text-align: center;
	padding: 10px 15px;
	white-space: nowrap;
	border: 1px solid black;
}
