.matchup {
	position: relative;
	background-color: gray;
	width: 300px;
	height: 50px;

	&__container {
		left: 0;
		position: relative;
		display: inline;
		font-size: 60px;
		background-color: green;
		margin-bottom: 15px;

		span {
			// flex-grow: 1;
			font-size: 1em;
			position: relative;
			white-space: nowrap;
			display: inline;

			&.vs {
				font-size: 0.5em;
				padding: 0 5px;
			}
			&.ranking {
				font-size: 0.7em;
			}
		}
	}
}
