// Import the main scss file to have access to variables, globals, mixins
@import '../../../common/styles/main.scss';

.ad {
	@include ad-border;

	position: relative;
	width: $ad-width;
	height: $ad-height;
	overflow: hidden;
	background: $color-primary;
	cursor: pointer;

	&__inner-container {
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
	}

	&__spriteplayer-woman{
		scale: .8
	}
}
