// Import the main scss file to have access to variables, globals, mixins
@import '../../../common/styles/main.scss';

.twitchglitchextrude {
	width: 76px;
	height: 85px;
	position: relative;

	&__inner {
		position: absolute;
		width: 76px;
		height: 85px;
		transform-origin: center center;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	&__left {
		position: absolute;
		top: 20px;
		left: 0;
		width: 40px;
		height: 34px;
		transform: skewY(-45deg);
		//3 color
		// top: 30.3px;
		// left: 5px;
		// width: 60px;
		// height: 30px;
		// background: linear-gradient(90deg, rgba(145, 70, 255, 0) 0%, rgba(145, 70, 255, 1) 0%, rgba(145, 70, 255, 0) 0%);
		// transform: skewY(-45deg);
	}
	&__mid {
		position: absolute;
		top: 55px;
		left: 9px;
		width: 40px;
		height: 10px;
		transform: skewY(-45deg);
		// 3 color
		// top: 60px;
		// left: 17px;
		// width: 60px;
		// height: 10px;
		// background: linear-gradient(90deg, rgba(145, 70, 255, 0) 10%, rgba(145, 70, 255, 0.5) 0%, rgba(145, 70, 255, 0) 0%);
		// transform: skewY(-45deg);
	}
	&__bottom {
		position: absolute;
		top: 34px;
		left: 19.8px;
		width: 28.3px;
		height: 40px;
		transform: skewX(-45deg);
		// 3 color
		// top: 30px;
		// left: 35.3px;
		// width: 29.2px;
		// height: 60px;
		// background: linear-gradient(0deg, rgba(145, 70, 255, 0) 0%, rgba(145, 70, 255, 1) 0%, rgba(145, 70, 255, 0) 0%);
		// transform: skewX(-45deg);
	}

	&__glitch-bg {
		fill: white;
	}
	&__glitch-icon {
		fill: $twitch-color-purple;

		&-eye {
			fill: black;
			transform-origin: center 400px;
			&--purple {
				fill: $twitch-color-purple;
			}
		}
	}
	&__glitch {
		position: absolute;
		left: 35px;
		width: 46px;
		aspect-ratio: 1;
	}
	&__ref {
		object-fit: contain;
		width: 86px;
		position: absolute;
		left: 27px;
		top: -6px;
	}
	&__extrusion-container {
		position: absolute;
		left: 0;
		width: 69px;
		top: 0px;
		// background: white;
		height: 75px;
	}
}
