// Import the main scss file to have access to variables, globals, mixins
@import '../../../common/styles/main.scss';

.twitchglitch {
	width: 336px;
	height: 392px;
	position: relative;
	// background: green;
	&__ref {
		position: absolute;
		opacity: 0.5;
	}
	&__eye {
		position: absolute;
		width: 28px;
		height: 83px;
		background-color: black;
		&-left {
			left: 77px;
			top: 52px;
		}
		&-right {
			left: 154px;
			top: 52px;
		}
	}
	&__inner {
		// background: red;
		position: absolute;
		width: 336px;
		height: 392px;
		transform-origin: center center;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	$twitchglitch-body-start: polygon(0% 82%, 0% 18%, 5% 14%, 84% 14%, 84% 64%, 63% 82%, 46% 82%, 25% 100%, 25% 82%);
	$twitchglitch-body-end: polygon(0% 82%, 0% 18%, 21% 0%, 100% 0%, 100% 50%, 63% 82%, 46% 82%, 25% 100%, 25% 82%);
	$twitchglitch-inner-start: polygon(0% 81%, 0% 0%, 100% 0%, 100% 60%, 75% 81%, 34% 81%, 28% 81%, 28% 81%);
	$twitchglitch-inner-end: polygon(0% 81%, 0% 0%, 100% 0%, 100% 60%, 75% 81%, 50% 81%, 28% 100%, 28% 81%);
	&__body {
		bottom: 0;
		width: 336px;
		height: 392px;
		background: rgb(0, 0, 0);
		position: absolute;
		clip-path: $twitchglitch-body-start;

		&-in {
			animation: bodyin 0.3s forwards 0.5;
		}

		&-inner {
			top: 81px;
			left: 31px;
			width: 224px;
			height: 260px;
			transform-origin: center 105.5px;
			background: rgb(255, 255, 255);
			clip-path: $twitchglitch-inner-start;
			position: absolute;

			&-in {
				animation: innerin 0.7s forwards;
			}
		}
	}

	@keyframes bodyin {
		0% {
			clip-path: $twitchglitch-body-start;
		}
		100% {
			clip-path: $twitchglitch-body-end;
		}
	}

	@keyframes innerin {
		0% {
			clip-path: $twitchglitch-inner-start;
		}
		100% {
			clip-path: $twitchglitch-inner-end;
		}
	}
}
