@import '../../../common/styles/main.scss';

// Convert css vars in index to scss vars
$ad-width: var(--ad-width);
$ad-height: var(--ad-height);

.ad {
	@include ad-border;

	position: relative;
	width: $ad-width;
	height: $ad-height;
	overflow: hidden;
	background: $color-primary;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
