// Import the main scss file to have access to variables, globals, mixins
@import '../../../common/styles/main.scss';

.twitchcta {
	overflow: hidden;

	&__inner {
		background-color: black;
		color: white;
		font-family: 'RoobertTW-SemiBold';
		font-size: 15px;
		text-align: center;
		padding: 10px 15px;
		white-space: nowrap;
		width: fit-content;
	}
}
