// Import the main scss file to have access to variables, globals, mixins
@import '../../../common/styles/main.scss';

.twitchcta {
	overflow: hidden;
	font-family: 'RoobertTW-SemiBold';
	font-size: 20px;
	color: white;
	width: fit-content;
	position: relative;

	&__bg {
		background-color: black;
		height: 100%;
		width: 100%;
		position: absolute;
	}

	&__text {
		background-color: green;
		position: absolute;
	}
}
