$line-length: 12px;
$line-gap: 3px;
$color-gray: rgba(72, 72, 72, 0.65);
$color-gray-light: #7d7d7d;
$border: 1px solid $color-gray;

.endframelogo {
	position: absolute;
	top: 0;
	display: flex;

	&__rankchip {
		position: absolute;
		width: 20px;
		height: 20px;
		bottom: 0px;

		&-rank {
			font-family: 'AudibleCFBReg';
			font-size: 14px;
			width: 100%;
			height: 100%;
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&-img {
			position: absolute;
			height: 100%;
			object-fit: contain;
		}
	}
	&__teamname-container {
		padding-top: 5px;
		flex: 1;
	}

	&__name {
		writing-mode: vertical-rl;
		font-family: 'ChickenScratchCFB';
		color: $color-gray-light;
		font-size: 9px;
		transform: rotate(-180deg);
	}

	&__logo {
		width: 101px;
		height: 88px;
		object-fit: contain;
	}

	&__middle {
		display: flex;
		flex-direction: column;

		&-top {
			height: $line-length;
			border-left: $border;
			border-right: $border;
			margin-bottom: $line-gap;
		}
		&-bottom {
			height: $line-length;
			border-left: $border;
			border-right: $border;
			margin-top: $line-gap;
		}
	}

	&__side {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 15px;

		&.left {
			padding-right: $line-gap;
		}
		&.right {
			padding-left: $line-gap;
		}
	}

	&__logo {
		display: block;
		border: $border;
	}

	&__corner-container {
		width: fit-content;
		padding-bottom: $line-gap;
		border-bottom: $border;

		&.bl {
			transform: scaleY(-1);
		}
		&.tr {
			transform: scaleX(-1);
		}
		&.br {
			transform: scale(-1, -1);
		}
	}

	&__corner-inner {
		width: $line-length;
		height: $line-length;
		border-right: $border;
		border-bottom: $border;
	}
}
