.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 86px;
	width: 100%;

	&__bg {
		position: absolute;
	}

	&__content {
		width: 100%;
		position: absolute;
		display: flex;
		align-items: center;
	}

	&__sponsor {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 15px;
		&-copy {
			font-size: 10px;
			color: white;
		}
		&-logo {
			height: 15px;
			object-fit: contain;
		}
	}

	&__mainlogo-lockup {
		width: 80px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__mainlogo {
		height: 57px;
		// width: 50px;
		object-fit: contain;

		&-sponsor {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		&-sponsorcopy {
			font-size: 6px;
			color: white;
		}

		&-sponsorlogo {
			height: 12px;
			object-fit: contain;
		}

		&--withsponsor {
			height: 50px;
			// width: 50px;
			object-fit: contain;
		}
	}
	&__tunein {
		font-size: 15px;
		color: white;
	}

	&__networklogos {
		display: flex;
		justify-content: center;
		width: 100%;
		padding: 5px 0;
		&-logo {
			height: 30px;
			object-fit: contain;
		}
	}

	&__lockup {
		height: 86px;
		width: 75%;
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
