.introteamname {
	position: absolute;
	bottom: 4px;
	width: 100%;
	display: flex;
	justify-content: center;
	color: #2c2c2c;

	&__inner {
		display: flex;
		flex-direction: column;
		font-size: 25px;
	}

	&__topbottom {
		display: flex;
		justify-content: space-between;
	}

	&__copy-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__copy {
		font-size: 22px;
		color: #2c2c2c;
	}

	&__name {
		font-size: 1em;
		// display: flex;
		width: fit-content;
		align-items: baseline;
		justify-content: center;
		white-space: nowrap;
	}

	&__rank {
		position: relative;
		font-size: 0.5em;
		padding-right: 3px;
	}
}
