// Import the main scss file to have access to variables, globals, mixins
@import '../../../common/styles/main.scss';

.twitchwordboard {
	overflow: hidden;

	&__textfield {
		width: fit-content;
		height: fit-content;
		left: 50%;
		transform: translateX(-50%);
		position: relative;
		font-family: 'RoobertTW-SemiBold';
		font-size: 20px;
		white-space: nowrap;
		text-align: center;
	}
}
.line {
	letter-spacing: 2px;
	// transform-origin: center;
	// animation: in 2s ease-out forwards;
}

@keyframes in {
	0% {
		letter-spacing: 3px;
	}
	100% {
		letter-spacing: 1px;
	}
}
