// Import the main scss file to have access to variables, globals, mixins
@import '../../../common/styles/main.scss';

.twitchwordboard {
	height: fit-content;

	&__textfield {
		font-family: 'RoobertTW-SemiBold';
		font-size: 20px;
		white-space: nowrap;
		text-align: center;
	}
}
.line {
	letter-spacing: 2px;
	animation: in 2s ease-out forwards;
}

@keyframes in {
	0% {
		letter-spacing: 3px;
	}
	100% {
		letter-spacing: 1px;
	}
}
