// Import the main scss file to have access to variables, globals, mixins
@import '../../../common/styles/main.scss';

.twitchwordboard {
	overflow: hidden;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	&__textfield {
		width: fit-content;
		height: fit-content;
		position: relative;
		font-family: 'RoobertTW-SemiBold';
		font-size: 21px;
		white-space: nowrap;
		text-align: center;
	}
	&__line {
		letter-spacing: 2px;
	}

	&__singleword {
		font-family: 'RoobertTW-SemiBold';
		font-size: 21px;
		white-space: nowrap;
		position: absolute;
		left: 50%;
		top: 50%;
		opacity: 0;
		transform: translate(-50%, -50%);
	}
}

@keyframes in {
	0% {
		letter-spacing: 10px;
	}
	100% {
		letter-spacing: 1px;
	}
}
